* {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(22, 76, 4);
    padding: 20px;
    color: white;
    border-bottom: 10px solid gray;
    font-weight: bolder;
    font-size: 22px;
/*    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;*/
}

header li {
    display: inline;
}

section {
    margin-top: auto;
    text-align: center;
}

nav {
    text-align:right;
} 

.contact{
    padding: 10px;
    background-color: gray;
    border-top: 10px solid darkgrey;
}

.contact input {
    padding: 10px;
    margin: 5px;
}

form {
    border: 10px solid darkgray;
    border-radius: 10px;
}

footer {
    background-color: rgb(22, 76, 4);
    padding: 20px;
    color: white;
    font-weight: bolder;
    font-size: 22px;
    text-align: center;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 25px;
}